.falling-letter-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; /* Prevent the falling letter from intercepting clicks */
  }
  
  .falling-letter {
    font-weight: bolder;
    color: blueviolet;
    position: absolute;
    font-size: 24px; /* Adjust font size as needed */
  }