@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.drumalign {
  text-align: center;
  transition: all 0.5s ease-in-out;
}

@media (max-width: 1100px) {
  .drumalign {
    transform: rotate(90deg);
  }
}

h1 {
  font-size: 5rem;
  color: #DBEDF3;
}

.q {

}

.w {

}

.e {

}

.r {

}

.t {

}

.y {

}

.l {

}

footer {
  color: #DBEDF3;
  font-family: sans-serif;
}

.drum {
  outline: none;
  font-size: 5rem;
  line-height: 2;
  font-weight: 900;
  display: inline-block;
  width: 150px;
  height: 150px;
  margin: 5px; 
/* Adjust as needed */
}

@layer base {
  :root {
    --color-bg: 236 236 236;
    --color-bg2: 12 12 12;
    --color-primary: 1 42 147;
    --color-secondary: 254 98 166;
    --color-ascent1: 247 43 2;
    --color-ascent2: 247 43 2;
    --color-ascent3: 254 253 248;
    --color-ascent4: 94 130 143;
    --color-grey: 210 210 210;
    --color-placehold: 150 150 150;
    --color-bgBorder: 244 243 232;
  }

  /* Dark theme styles */
  [data-theme="dark"] {
     --color-bg: 26 26 26;
     --color-bg2: 236 236 236;
    --color-primary: 108 149 254;
    --color-secondary: 157 1 69;
    --color-ascent1: 253 48 8;
    --color-ascent2: 247 43 2;
    --color-ascent3: 20 20 20;
    --color-ascent4: 94 130 143;
    --color-blue: 6 90 216;
    --color-grey: 48 48 48;
    --color-white: 26 26 27;
    --color-bgBorder: 48 48 48;
  }
}
