@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}
.fonts{
  font-family: 'Kanit', sans-serif;

}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.drumalign {
  text-align: center;
  transition: all 0.5s ease-in-out;
}

@media (max-width: 1100px) {
  .drumalign {
    transform: rotate(90deg);
  }
}

h1 {
  font-size: 5rem;
  color: #DBEDF3;
}

.q {

}

.w {

}

.e {

}

.r {

}

.t {

}

.y {

}

.l {

}

footer {
  color: #DBEDF3;
  font-family: sans-serif;
}

.drum {
  outline: none;
  font-size: 5rem;
  line-height: 2;
  font-weight: 900;
  display: inline-block;
  width: 150px;
  height: 150px;
  margin: 5px; 
/* Adjust as needed */
}


@layer base {
  /* :root {
    --text: #072721;
    --background: #f7fdfd;
    --primary: #157969;
    --secondary: #e573e7;
    --accent: #c42158;
  }
  [data-theme="dark"] {
    --text: #d8f8f2;
    --background: #020808;
    --primary: #86ead9;
    --secondary: #8a188c;
    --accent: #de3b71;
  } */
  :root {
    --text: #02060d;
    --background: #fbfcfe;
    --primary: #2467db;
    --secondary: #aa84eb;
    --accent: #a553e4;
  }
  [data-theme="dark"] {
    --text: #f2f6fd;
    --background: #010204;
    --primary: #2467db;
    --secondary: #3a147b;
    --accent: #6d1bac;
  }
  
  /* :root {
    --text: #010909;
    --background: #edfdfc;
    --primary: #2ce8de;
    --secondary: #88c4f2;
    --accent: #5a8ded;
  }
  [data-theme="dark"] {
    --text: #f6fefc;
    --background: #021211;
    --primary: #17d3ca;
    --secondary: #0d4977;
    --accent: #1246a5;
  } */
  

}
